@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  /* Arreglo de Bootstrap por navbar fixed-to-top */
  /*padding-top: 70px;*/
  /*padding-left: 30px;
  padding-right: 30px;*/
  background-image: url("../images/fondo.png");
}

small {
  font-size: 60%;
}
.navbar{
  padding-right: 30px;
}
a.navbar-brand {
  padding-top: 9pt;
}
a.navbar-brand img {
  float: left;
}
a.navbar-brand {
  cursor: pointer;
}
a.navbar-brand > span.brand {
  display: inline-block;
  padding-top: 1.7pt;
}

.botones-recibos-grupo > .btn-group {
  margin-bottom: 4px;
}

.form-login-container{
       background: #fff;
       padding: 30px;
       border-radius: 5px;

}
/* box-shadow: 0px 0px 10px 0px #000; */
.login-top{
  padding-top: 70px;
}

.box-top{
  padding-top: 50px;
}
.container-app{
  padding-left: 10px;
  padding-right: 10px;
}
.panel-ofertas{
   box-shadow: 0px 0px 1px 0px #000;
}

.version {
  font-size: 40%;
}

/* .center_div{
  margin: 0 auto;
  width:80% 
} */
.ocultar {
  display: none;
}
@media screen and (max-width: 565px) and (min-width: 300px) {
  .only-lg{
    display:none;
  }
}
/*
@media screen and (max-width: 1225px) and (min-width: 1045px) {
  .only-lg{
    display:none;
  }
}
@media screen and (max-width: 1045px) and (min-width: 835px) {
  .priority-5{
    display:none;
  }
  .priority-4{
    display:none;
  }
}

@media screen and (max-width: 565px) and (min-width: 300px) {
  .priority-5{
    display:none;
  }
  .priority-4{
    display:none;
  }
  .priority-3{
    display:none;
  }
}

@media screen and (max-width: 300px) {
  .priority-5{
    display:none;
  }
  .priority-4{
    display:none;
  }
  .priority-3{
    display:none;
  }
  .priority-2{
    display:none;
  }

}*/

.bg-row {
  background-color: rgb(211,211,211);
}
